/*
-Steve Barry-
main css file
*/




body{
width: 100%;
position: relative;
background-image: url("../images/bg.png");
background-repeat: repeat;
}
#mainContent{
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

h1{
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 500%;
    position: relative;
    display: block;
    text-align: center;

}
#swQuiz{
    margin-top: 10%;
}

#mainQuiz, #btn_again{
    display: none;
}
#theQuestion{
    margin: 20px 0;
    padding: 5%;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white
}

#quizUL{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 0;
    justify-content: space-between;
    
    
}

.selection{
    margin-bottom: 20px;
    flex-wrap: wrap;
    width: 23%;

}
.select{
    display: inline-block;
    border: 1px solid lightcyan;
    border-radius: 15px;
    height: 100%;
    width: 90%;
    padding: 10px 10px;
    line-height: 120%;
    color: black;
    transition: 0.5s;
    background-color: rgb(220, 220, 220);
}

.select:hover{
    background-color: rgb(50, 115, 50);
    color: white;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

#btn_again{
    margin-top: 5%;
}

button{
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    box-shadow: none;
    border: 1px solid lightcyan;
    transition: 0.5s;
    width: 35%;
    min-width: 160px;
}

button:hover{
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

#hallOfFame{



}
#hofDisplay{
    display: block;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
}