/*
-Steve Barry-
main css file
*/




body{
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

h1{
    margin-top: 10%;
    margin-bottom: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 500%;
    background-image: url("./assets/images/qt.png");
}

#mainQuiz, #btn_again{
    display: none;
}
#theQuestion{
    margin: 20px 0;
    padding: 5%;
    border: 2px solid black;
    border-radius: 20px;
}

#quizUL{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 0;
    justify-content: space-between;
    
    
}

.selection{
    margin-bottom: 20px;
    flex-wrap: wrap;
    width: 23%;

}
.select{
    display: inline-block;
    border: 1px solid green;
    border-radius: 15px;
    height: 100%;
    width: 90%;
    padding: 10px 10px;
    line-height: 120%;
    color: black;
    transition: 0.5s;
}

.select:hover{
    background-color: rgb(50, 115, 50);
    color: white;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}