/*
Homework wk4
quiz time
-Steve Barry-
media css file
*/
/* prior to below, answers are 1 row of 4 wide */
/* when screen at below size, set answers to appear 2 rows of 2 wide*/
@media screen and (max-width:1060px) and (min-width:650px) {
    .selection{
        width: 48%;
    }
    #swQuiz{
        width: 400px;
    }
}
/* when screen at below size, set answers to appear 4 rows of 1 wide*/
@media screen and (max-width:650px) {
    .selection{
        width: 98%;
    }
    #swQuiz{
        width: 300px;
    }
}